.DS_Store
*.DS_Store*
.idea/dexter-labs.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes
.idea/vcs.xml
.idea/workspace.xml
.idea/dexter-labs.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/scopes
.idea/vcs.xml
.idea/workspace.xml
